@font-face {
    font-family: Akrobat-Regular;
    src: url("../fonts/Akrobat-Regular.otf");
}

@font-face {
    font-family: FontAwesome;
    src: url("../fonts/FontAwesome.otf");
} 

* {
    box-sizing: border-box;
    font-family: Akrobat-Regular;
    padding: 0;
    margin: 0;
    font-size: 10px;
}

body {
    overflow: hidden;
    background: #212429;
}

a, a:hover {
    text-decoration: none;
    color: inherit;
}

.noselect {
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}