#world {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#fps {
    font-size: 1.5rem;
    color: #fff;
    position: absolute;
    bottom: 5px;
    left: 5px;
}

#menu {
    position: absolute;
    width: 100%;
    top: 50%;
    margin-top: -125px;
    left: 0;
    text-align: center;
    transition: background-color .5s;
}

.title {
    color: #fff;
    font-size: 6rem;
}

.hint {
    color: #fff;
    font-size: 1.5rem;
}

.score {
    display: block;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    font-size: 4rem;
    transition: top .3s, font-size .3s;
}

.gameover {
    top: 50%;
    margin-top: -20px;
    transform: translate(-50%, -50%);
    font-size: 2rem;
}

.gameover::before {
    display: block;
    content: 'Game over';
    position: absolute;
    left: 50%;
    bottom: 2.5rem;
    transform: translateX(-50%);
    font-size: 5rem;
    color: #fff;
}

.shadow {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #212429;
    opacity: 0;
    transition: opacity .2s;
}

.opaque {
    opacity: .6;
}

@keyframes fadeout {
    0% {
        opacity: 1; 
        visibility: visible;
        transform: scale(1);
    }
    100% {
        opacity: 0; 
        visibility: hidden;
        transform: scale(4);
    }
}

.fadeout {
    animation: fadeout .5s forwards;
}